/* CSS Reset */
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,a,abbr,acronym,em,img,ol,ul,li {border: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;margin: 0;padding: 0;}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Variables */
$day-white: #FFFFFC;
$day-black: #333;

$night-white: #DDD;
$night-black: #333;

$gray: rgba(30%,30%,30%, 0.9);

$accent: #EB005B;
$accent-light: #EB0978;

$thin: 'Quicksand', helvetica, sans-serif;
$sans: helvetica, sans-serif;
$slab: 'Oswald', helvetica, sans-serif;

// Element Selectors

html {
    font-family: georgia, serif;
    color: $day-black;
    background: $day-white;
    background: linear-gradient(to bottom, #EEE 0%, #FFF 10%,  #FFF 90%,  #EEE 100%);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    z-index: -10;

        &.dark {
           background: $night-black;
           background: linear-gradient(to bottom, #2a2a2a 0%, #333 10%,  #333 90%,  #2a2a2a 100%);
           background-attachment: fixed;
           width: 100%;
           height: 100%;
           color: $night-white;
        }
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

h2 {
    font-family: inherit;
    font-size: 1.25em;
    font-variant: small-caps;
    text-align: center;
    width: 80%;
    margin: 0 auto 0;
    border-top: 1px solid #777;
    margin-top: 1em;
    padding: 1em 0 0 0;
}

h3 {
    font-size: 1.4em;
    margin: 0.5em 0;
    text-align: center;
}

blockquote {
    width: 90%;
    margin: 0.7em auto;
    text-align: center;
    padding-left: 0.5em;
    font-size: 1.3em;
    font-style: italic;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    &>p{
        padding-left: 7px;
        border-left: 5px solid $gray;
        margin: auto;
    }
}

ul, ol {
    list-style-position: inside;
    margin: 1em 0 1em 2em;
}

em {
    font-weight: bold;
    font-style: italic;
}

img {
    margin: auto;
}

a, a:visited, a:hover {
    color: $accent;
    text-decoration: none;
    transition: color 0.1s;
    &:hover {
        color: $accent-light;
        text-decoration: underline;
    }
}

header {
    position: fixed;
    /*color: $night-white;*/
    top: 0;
    height: 4em;
    width: 100%;
}

footer {
    font-size: 0.8em;
    min-height: 200px;
    padding: 1em;
    color: #888;
    text-align: center;
    clear: both;
}

// Class Selectors

.photo {
    border-radius: 25px;
    border: 1px solid black;
}

.blog {
    display: table;
    width: 100%;
    height: 100%;
    margin: auto;
}

.title {
    font-family: $thin;
    font-weight: 400;
    font-size: 3em;
    text-transform: capitalize;
}

.byline {
    font-family: $sans;
    font-style: italic;
    font-weight: 100;
    font-size: 1em;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.masthead {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: space-around;
    width: 100%;
    min-height: 400px;
    padding: 2em 10px;
    text-align: center;
    margin: auto;
}

.post-image{
    height: auto;
    width: 400px;
    max-width: 400px;
}

.metadata {
    text-align: center;
}

.date {
   color: hsla(0, 0%, 50%, 0.5);
   font-size: 0.9em;
   font-style: italic;
   line-height: 2em;
   font-family: $sans;
}

.categories, .tags {
   color: hsla(0, 0%, 50%, 0.5);
   font-size: 0.9em;
   font-style: italic;
   line-height: 2em;
   font-family: $sans;
   width: 100%;
   max-width: 500px;
   display: block;
   margin: auto;
}

a.tag, a.category {
    padding: 0px 8px;
    margin: 2px 1px;
    border-radius: 4px;
    display: inline-block;
    color: $day-black;
    border: 1px solid $gray;
    transition: 0.3s;

    &:hover{
        background: $day-black;
        color: $day-white;
        text-decoration: none;
    }

    .dark & {
    color: $night-white;

    &:hover{
        background: $night-white;
        color: $night-black;
        text-decoration: none;
    }
    }

}

.post {
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    min-width: 100px;
    max-width: 600px;
    /*min-height: 100%;*/
    padding: 0px 20px;
    margin: 3em auto;
    transition: color 2s;
    font-size: 1.25em;

    p {
        line-height: 1.6em;
        letter-spacing: 0.02em;
        margin: 0.5em 0 0 0;
        hyphens: auto;
        word-break: break-word;
    }

    p+p {
        margin-top: 1em;
    }

    // Dropcap
    &>p:first-of-type:first-letter {
        font-size: 8em;
        line-height:0.1em;
        padding-right: 0.06em;
    }

    ul {
        list-style-type: disc;
        text-indent: -1em ;

        li  {
            line-height: 1.3em;
            letter-spacing: 0.05em;
            margin: 0.5em 0 0 0;
            hyphens: auto;
            word-break: break-word;
        }

    }
}

.table-of-contents {
    clear: both;
    width: 100%;

    h1{
        font-size: 3em;
        text-align: center;
        font-family: $thin;
    }

    ul {
        margin: 3em 0;
        list-style: none;
    }


    li {
        width: 100%;
        a {
            color: $day-black;
            font-weight: normal;
            box-sizing: border-box;
            border-top: 1px solid #444;
            display: block;
            width: 50%;
            min-width: 300px;
            margin: 0 auto;
            padding: 1em 0.5em 1em 0;
            transition: color 0.7s, background 0.7s, padding 0.5s;

            .date {
                float: right;
                margin-top: -0.25em;
                color: hsla(0, 0%, 50%, 0.8);

            }

            &:hover {
                background: $day-black;
                color: $day-white;
                text-decoration: none;
                padding-left: 2em;
            }

        }
    }

    .dark & {
        ul {
            a {
                color: $night-white;

                &:hover {
                    background: $night-white;
                    color: $night-black;
                    padding-left: 2em;
                }
            }
        }
    }
}

.arrow {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    background: #DDD;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    text-align: center;
    /*padding-top: 0.14em;*/
    box-sizing: border-box;
    border-radius: 0.75em;
    opacity: 0.7;
    transition: background 0.5s, opacity 0.5s, width 0.5s;
    cursor: pointer;

    &:hover {
        box-sizing: border-box;
        width: 2em;
        color: $accent;
        border: 1px solid $accent;
        opacity: 0.9;
        background: $day-white;
        transition: background 0.5s, opacity 0.5s, width 0.5s;
        text-decoration: none;
    }

    .dark &{
        background: #222;

        &:hover{
            color: #C00762;
            border-color: #C00762;
        }
    }
}

.social-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1em 0;

    &>div{
        /*margin: 0 1em;*/
    }

    .twitter-share-button {
        max-width: 90px;
    }

    .twitter-follow-button {
        max-width: 70px;
    }
}

.center {
    text-align: center;
    margin: auto;
}

.monochrome {
    color: $day-black;
    .dark &  {
        color: $night-white;
    }
}

.gem-info {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    align-items: center;

    table{
        border: 1px solid $day-black;
        border-collapse: collapse;

        td{
            border: 1px solid $day-black;
            padding: 0.4em 1em;
        }
    }

    .dark &{
        table{
            border: 1px solid $night-white;

            td{
                border: 1px solid $night-white;
            }
        }
    }
}

.pager-title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    span {
        text-align: center;
    }
}

.pager{
    article{
        margin-top: 2em;
    }
}

// ID Selectors

// Override disqus colors for dark theme.
.dark #disqus_thread {
    color: $night-white;
}

#page{
    margin: 4em 0;
}

#theme-button {
    text-transform: uppercase;
    font-family: $thin;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 0.75em;
    right: 0.7em;
    text-align:right;
    cursor: pointer;
    transition: opacity 0.5s, color 2s;
    opacity: 0.6;

    &:hover {
       opacity: 1;
    }

    .dark & {
        color: $night-white;
    }
}

#beacon {
    font-family: $slab;
    font-size: 4em;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    margin: 0.1em;
    position: absolute;
    border-radius: 0.1em;
    opacity: 0.4;
    transition: opacity 0.5s;
    color: inherit;

    // All nested svg's inherit color.
    & path {
        fill: currentColor;
    }

    & .logo {
        width: 100%;
        height: 100%;
    }

    &:hover {
        opacity: 1;
        text-decoration: none;
    }
}

#leftarrow {
    position: fixed;
    left: 5px;
    top: calc(50% - 15px);
    text-decoration: none;
}

#rightarrow {
    position: fixed;
    right: 10px;
    top: calc(50% - 15px);
    text-decoration: none;
}

@media only screen and (max-width : 750px){
    header {
        color: $day-white;
        height: 3em;
        background: $gray;
    }

    #beacon {
        color: $day-white;
        font-size: 2em;
        margin: 0;
    }

    #theme-button {
        color: $day-white;
        font-size: 1.5em;
        top: 0.5em;
        right: 0.2em;
        opacity: 0.5;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

    h2 {
        border-top: 3px solid #777;
    }

    .page {
        min-width: none;
        max-width: none;
        width: auto;
        padding: 0 1em;
        margin: 0;
        box-sizing: border-box;
    }

    .page p {
        padding-bottom: 1em;
        font-size: 1em;
        line-height: 1.8em;
    }

.post-image{
    height: auto;
    width: auto;
    max-width: 280px;
}
    .page>p:first-of-type:first-letter {
        font-size: 4em;
        line-height:0.1em;
    }

}

@media only screen and (max-height : 450px){
    .masthead {
        min-height: 350px;
    }
}
