{% extends "base.html" %}
{% block top_class %}about{% endblock %}
{% block content %}
<article>
    <section>
            <h2>About Me</h2>
        <img class="photo" src="/images/field.jpg" alt="" width="300" height="300" >
        <div class="text">
            <p>I've always been a simple guy. I like thinking, talking, and learning. Lately I've been interested in web-design though I try new things all the time.</p>
        </div>
    </section>

    <section class="links">
        ~~~
        <a href="http://www.facebook.com/zefmusic"><img src="/images/facebook.png" alt="Facebook" height="50"></a>
        <a href="http://www.twitter.com/zefmusic"><img src="/images/twitter.png" alt="Twitter" width="auto" height="50"></a>
        ~~~
    </section>
</article>
{% endblock %}
