<!DOCTYPE html>
<html lang="en" class="{% block top_class %}{% endblock %}"> 
<head profile="http://www.w3.org/2005/10/profile">
    {% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="The Personal blog and musings of Chris Penner, a designer, developer and future opsimath.">
    <meta name="author" content="Chris Penner">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="alternative" type="application/rss+xml" title="Chris Penner RSS Feed" href="/feed" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    {% endblock %}
    {% block metatags %} {% endblock %}
</head>
<body>
<header>
    <nav>
        <a id="beacon" href="/">CP</a>
    </nav>
    <div id="theme-button">DAY</div>
    {% block header %}{% endblock %} 
</header>

    <div id="page">{% block content %}{% endblock %}</div>

<footer>
    &copy; 2014 Chris Penner - <a href="/feed">RSS</a>
</footer>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='js/jquery-1.11.1.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
    <script src="/js/main.js"></script>
<!--Facebook Like/Share code-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
