{% extends "post.html" %}
{% block masthead %}
<div class="wrapper">
    <div class="masthead">
        <span class="title">
            {{post.title}}
        </span>
        <br>
    <img src="/images/{{post.program}}-logo.png" alt="{{post.program}} Logo">
        <br>
        <span class="byline">by {{post.author}}</span>
        <br>
        <span class="date">{{post.date}}</span>
        {% if post.categories|length > 0 %}
            <br>
            <span class="categories">
                Categories: 
                {% for c in post.categories|sort %}
                    <a href="/category/{{c}}">{{c|capitalize}},</a>
                {% endfor %}
            </span>
        {% endif %}
        {% if post.tags|length > 0 %}
            <br>
            <span class="tags">
                Tagged: 
                {% for t in post.tags|sort %}
                    <a href="/tag/{{t}}">{{t|capitalize}},</a>
                {% endfor %}
            </span>
        {% endif %}
    </div>
</div>
<div class="gem-info">

<table>
    {% if post.language %}
      <tr>
        <td>Language</td>
        <td>{{post.language}}</td>
      </tr>
    {% endif %}
    {% if post.platforms %}
      <tr>
        <td>Platforms</td>
        <td>{{post.platforms}}</td>
      </tr>
    {% endif %}
    {% if post.state %}
      <tr>
        <td>State</td>
        <td>{{post.state}}</td>
      </tr>
    {% endif %}
    {% if post.type %}
      <tr>
        <td>Type</td>
        <td>{{post.type}}</td>
      </tr>
    {% endif %}
    {% if post.links %}
      <tr>
        <td>Links</td>
        <td>{{post.links|safe}}</td>
      </tr>
    {% endif %}
</table>
</div>
{% endblock %}
